<div class="main" id="main">
    <div class="img">
        <h1 class="animate-character">Welcome</h1>
    </div>
</div>
<div class="about" id="about">
    <div class="img">
        <div class="content">
            <h1>About</h1>
            <p>
                I learned to code and program through attending the coding bootcamp Bitmaker and through this I found my
                passion. I
                love
                to code whenever I can and I build projects on my own for the challenge and the desire to build and
                create new
                things
                and to further improve my abilities as a software engineer.
            </p>
            <p>
                Currently I am attending Lakehead University and it is where I am learning and cementing my knowledge in
                coding and
                programming.
            </p>
        </div>
    </div>
</div>
<div class="projects" id="projects">
    <div class="img">
        <div class="content">
            <h1>Projects</h1>
            <div class="project-buttons">
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="https://interactive-mario-resume.onrender.com/"><img
                                src="/images/interactive-mario-resume.png"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="https://face-recognition-software.onrender.com/"><img
                                src="/images/facial-recognition-software.png"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="https://barrielabourlawyer.com/"><img
                                src="/images/client-website.png"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="https://assignment1-comp2068.onrender.com/"><img
                                src="/images/portfolio-website.png"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="#"><img src="/images/to-be-continued.jpeg"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="#"><img src="/images/to-be-continued.jpeg"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="#"><img src="/images/to-be-continued.jpeg"></a>
                    </div>
                </div>
                <div class="project-button">
                    <div class="child">
                        <a target="_blank" href="#"><img src="/images/to-be-continued.jpeg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact" id="contact">
    <div class="img">
        <div class="content">
            <div class="form">
                <form action="/" method="post">
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" placeholder="jonhdoe@gmail.com" required>
                    <label for="subject">Subject:</label>
                    <input id="subject" name="subject" type="text" placeholder="Portfolio Website" required>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="I really like your portfolio website!"
                        required></textarea>
                    <input id="submit" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>