body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f7;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0px 40px;
  font-size: 13px;
  font-weight: 300;
}

.navbar {
  background-color: #383839;
  height: 50px;
}

.navbar ul {
  margin: auto;
  text-align: center;
}

.main {
  height: 665px;
  width: 100%;
  margin-top: -8px;
  margin-bottom: 10px;
}

.main>.img {
  background-image: url("/images/main.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main>.img>h1 {
  color: white;
  text-align: center;
  padding-top: 300px;
  font-size: 50px;
  font-weight: 600;
}

.about {
  background-color: white;
  height: 707px;
  width: 100%;
  margin-bottom: 10px;
}

.about>.img {
  background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding-top: 250px;
  width: 50%;
  margin: auto;
}

.content>h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.content>p {
  font-weight: 400;
}

.footer-text {
  font-size: 13px;
  color: black;
}

.footer-icons {
  color: black;
}

.footer-icons:hover {
  color: black;
}

.footer-icons:visited {
  color: black;
}

.projects {
  background-color: white;
  height: 707px;
  width: 100%;
  margin-bottom: 10px;
}

.projects>.img {
  background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects>.img>.content {
  width: 60%;
}

.projects .content {
  padding-top: 150px;
}

.projects .content h1 {
  text-align: center;
  margin-bottom: 100px;
}

.project-button {
  width: 24%;
  height: 150px;
  display: inline-block;
  margin: 1px 2px;
  background-color: black;
  overflow: hidden;
}

.child {
  height: 100%;
  width: 100%;
}

.project-button>.child>a>img {
  width: 100%;
  height: 100%;
  transition: all .5s;
  z-index: 1;
}

.project-button>.child>a>img:hover {
  opacity: 0.75;
}

.project-button:hover .child,
.project-button:focus .child {
  transform: scale(1.2);
}

.project-buttons {
  height: 100%;
  text-align: center;
}

.contact {
  background-color: white;
  height: 621px;
  width: 100%;
  margin-bottom: 10px;
}

.contact>.img {
  background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .content {
  padding-top: 100px;
  width: 30%;
}

input[type=text],
input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  height: 140px;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkgrey;
}

.form {
  background-color: #f5f5f7;
  padding: 20px;
  font-size: 13px;
}

.apple {
  color: white;
}

@media (min-width: 320px) {
  .navbar ul {
    padding-left: 0px;
  }

  .navbar a {
    margin: 0px 10px;
  }

  .main {
    height: 577px;
  }

  .content {
    padding-top: 150px;
    width: 75%;
    font-size: 13px;
  }

  .about {
    height: 620px;
  }

  .project-button {
    display: flex;
    width: 100%;
    margin: 15px 0px;
  }

  .projects {
    height: 1700px;
  }

  .contact .content {
    width: 70%;
    padding-top: 50px;
  }

  .contact {
    height: 540px;
  }
}

@media (min-width: 375px) {
  .main {
    height: 578px;
  }
}

@media (min-width: 768px) {
  .content {
    font-size: 16px;
    width: 60%;
  }

  .project-button {
    display: inline-block;
    width: 23%;
    margin: 1px 2px;
  }

  .projects>.img>.content {
    width: 70%;
  }

  .projects .content h1 {
    margin-bottom: 50px;
  }

  .projects {
    height: 622px;
  }

  .contact .content {
    width: 50%;
  }

  .navbar a {
    margin: 0px 40px;
  }

  .about {
    height: 622px;
  }
}

@media (min-width: 1024px) {
  .contact .content {
    width: 35%;
  }

  .main {
    height: 784px;
  }

  .about {
    height: 835px;
  }

  .content {
    padding-top: 250px;
    margin: auto;
  }

  .projects {
    height: 835px;
  }

  .contact {
    height: 741px;
  }

  .contact .content {
    padding-top: 150px;
  }
}

@media (min-width: 1440px) {
  .contact .content {
    width: 25%;
  }

  .main {
    height: 843px;
  }

  .about {
    height: 894px;
  }

  .projects {
    height: 894px;
  }

  .contact {
    height: 801px;
  }

  .main > .img > h1 {
    padding-top: 400px;
  }

  .content {
    padding-top: 350px;
  }
}